body {
  font-family: "Arvo","Helvetica Neue",Helvetica,Arial,sans-serif;
}


body .modal {
  /* patching bootstrap's modal overflow behavior */
  overflow-y: auto;
}

.btn:focus, .btn:active, .btn:active:focus,
*:focus,*:active,*:active:focus {
    outline: 0;
}

.ArthrobotApp {
  margin-top: 15px;
}
.ArthrobotApp .app-content {
}

.ArthrobotApp nav .gravatar {
  width: 35px;
  border: 2px solid #eee;
  border-radius: 3px;
  margin: 7px;
}

.ArthrobotApp .footer {
  text-align: center;
  color: #ccc;
  font-size: smaller;
  position: fixed;
  bottom: 5px;
  right: 5px;
}