body {
	font-family: "Arvo","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn:focus, .btn:active, .btn:active:focus,
*:focus,*:active,*:active:focus {
    outline: 0;
}

.ArthrobotApp {
  margin-top: 15px;
}
.ArthrobotApp .app-content {
  padding: 20px;
}