body {
  font-family: "Arvo","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn:focus, .btn:active, .btn:active:focus,
*:focus,*:active,*:active:focus {
    outline: 0;
}

.ArthrobotApp {
  margin-top: 15px;
}
.ArthrobotApp .app-content {
}

.ArthrobotApp nav .gravatar {
  width: 35px;
  border: 2px solid #eee;
  border-radius: 3px;
  margin: 7px;
}