.CodeEditor {
  border: 1px solid #ccc;
}
.CodeEditor.notEditing {
  white-space: pre;
}
.CodeEditor.notEditing div.selected {
  background-color: yellow;
}

.CodeMirror-gutter-wrapper {
  position: relative;
}

.CodeMirror {
  height: 350px;
}