.ProgramEditor .buttons {
  padding-bottom: 5px;
}

.ProgramEditor .badge {
  margin: 5px;
  background-color: #ccc;
}

.ProgramEditor .badge.active {
  background-color: #428bca;
}

.ProgramEditor .helpButton {
  position: relative;
  top: 45px;
  right: 5px;
  display: block;
  text-align: right;
  height: 0px;
  cursor: pointer;
}

.ProgramEditor .CodeEditor {
  min-height: 350px;
}

.ProgramEditor .worldOverlay {
  position: relative;
  text-align: center;
  height: 0;
}

.ProgramEditor .worldOverlay div {
  color: white;
  padding: 10px;
  width: 75%;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
}
.ProgramEditor .worldOverlay.error div {
  background-color: red;
}
.ProgramEditor .worldOverlay.success div {
  background-color: #4c4;
  border-color: #0a0;
}

.ProgramEditor .WorldCanvas {
  width: 350px;
  height: 350px;
}