.ProgramEditor .buttons {
  padding-top: 5px;
}

.ProgramEditor .badge {
  margin: 5px;
}

.ProgramEditor .badge.active {
  background-color: #428bca;
}

.ProgramEditor .helpButton {
  position: relative;
  top: 5px;
  right: 5px;
  display: block;
  text-align: right;
  height: 0px;
  cursor: pointer;
}

.ProgramEditor .errorList {
  position: relative;
  top: 122px;
  text-align: center;
  height: 0;
}

.ProgramEditor .errorList div {
  color: white;
  background-color: red;
  padding: 10px;
  opacity: .75;
  width: 75%;
  margin: auto;
}