.WorldPage form {
  background-color: #eee;
  padding: 15px;
  border-radius: 5px;
}
.WorldPage form .glyphicon-remove {
  cursor: pointer;
}
.WorldPage .CodeEditor {
  background-color: white;
  min-height: inherit;
}
.WorldPage .worldSolution,
.WorldPage .worldDefinitionInput {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  min-height: 200px;
}

.WorldPage .worldDescriptionInput {
  min-height: 200px;
}