.WorldDefinitionEditorPage form {
  background-color: #eee;
  padding: 15px;
  border-radius: 5px;
}
.WorldDefinitionEditorPage .glyphicon-remove {
  cursor: pointer;
}

.WorldDefinitionEditorPage form h6 {
  font-size: 20px;
  margin: 0;
  text-align: center;
  line-height: 40px;
}